doctype html
html

  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title Registration
    meta(name='description', content='A Javascript conference made with errors for the latin american community.')

    link(href="/styles/registration.css?v=20160405A", rel="stylesheet")

  body

    block content

    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    block script
