$white:           #fff !default;
$black:           #000 !default;

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%;

  .error-404,
  .error-500 {
    display: block;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    width: 100%;

    .message {
      color: $white;
      font-size: 250%;
      font-weight: bold;
      line-height: 0;
      position: absolute;
      text-align: center;
      text-shadow: 4px 4px 0 $black;
      top: 50%;
      width: 100%;
    }
  }

  .error-404 {
    background: transparent url('//sophilabs.co/static/core/img/404_01.gif') no-repeat 50% 50%;
    background-size: cover;
  }

  .error-500 {
    background: transparent url('//sophilabs.co/static/core/img/500_01.gif') no-repeat 50% 50%;
    background-size: cover;
  }
}
