.main-logo #main {
  animation: main-rot 1s ease-out alternate infinite;
  position: relative;
}

#character {
  -moz-animation: character 1s ease-out alternate infinite;
  -ms-animation: character 1s ease-out alternate infinite;
  -webkit-animation: character 1s ease-out alternate infinite;
  animation: character 1s ease-out alternate infinite;
  position: relative;
}

#shadow {
  animation: shadow 1s ease-out alternate infinite;
  position: relative;
}

@mixin cross-animation($id, $first, $second) {
  @content;
  @-webkit-keyframes #{id} {
    0% {
      -webkit-transform: $first;
    }

    100% {
      -webkit-transform: $second;
    }
  }
  @-moz-keyframes #{id} {
    0% {
      -moz-transform: $first;
    }

    100% {
      -moz-transform: $second;
    }
  }
  @-ms-keyframes #{id} {
    0% {
      -ms-transform: $first;
    }

    100% {
      -ms-transform: $second;
    }
  }
  @keyframes #{id} {
    0% {
      transform: $first;
    }

    100% {
      transform: $second;
    }
  }
}

@-webkit-keyframes main-rot {
  0% {
    -webkit-transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(3deg);
  }
}
@-moz-keyframes main-rot {
  0% {
    -moz-transform: rotateZ(-3deg);
  }

  100% {
    -moz-transform: rotateZ(3deg);
  }
}
@-ms-keyframes main-rot {
  0% {
    -ms-transform: rotateZ(-3deg);
  }

  100% {
    -ms-transform: rotateZ(3deg);
  }
}
@keyframes main-rot {
  0% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: translate(2px, 0);
  }

  100% {
    -webkit-transform: translate(-2px, -7px), scale(1.01);
  }
}
@-moz-keyframes shadow {
  0% {
    -moz-transform: translate(2px, 0);
  }

  100% {
    -moz-transform: translate(-2px, -7px), scale(1.01);
  }
}
@-ms-keyframes shadow {
  0% {
    -ms-transform: translate(2px, 0);
  }

  100% {
    -ms-transform: translate(-2px, -7px), scale(1.01);
  }
}
@keyframes shadow {
  0% {
    transform: translate(2px, 0);
  }

  100% {
    transform: translate(-2px, -7px), scale(1.01);
  }
}

@-webkit-keyframes character {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-10px);
  }
}
@-moz-keyframes character {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-10px);
  }
}
@-ms-keyframes character {
  0% {
    -ms-transform: translateY(0);
  }

  100% {
    -ms-transform: translateY(-10px);
  }
}
@keyframes character {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}
