.blog {

  .image {
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 100%;
  }

  .categories {
    display: block;
    margin: 40px 0 0;
    padding: 0;
    text-align: left;

    li {
      display: inline-block;
      list-style: none;
      margin-right: -5px;
      padding: 0;

      a {
        font-size: .9em;
        text-transform: uppercase;
      }

      &:after {
        content: '-';
        padding: 0 15px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }

}
