.home {
  height: 100%;
  min-height: 100%;

  body {
    height: 100%;
    min-height: 100%;
    padding: 0;

    .navbar {

      @media (min-width: $screen-sm-min) {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    > footer {
      margin-top: 0;
    }

    .top {
      background-color: $red;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: block;
      height: 70%;
      min-height: 70%;
      padding-top: 85px;
      position: relative;
      text-align: center;
      width: 100%;
      z-index: 1000;

      @media (min-width: $screen-sm-min) {
        height: 100%;
        min-height: 100%;
        padding: 0 0 5%;
      }

      .main-logo {
        height: 100%;
        padding-top: 0;

        .header {
          height: 25%;
          margin: 30px 0;
          width: 100%;
        }

        .background {
          bottom: 15%;
          height: 25%;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: -1;
        }

        svg {
          @include cross-browser(pointer-events, none);
          display: block;
          height: 50%;
          margin: 0 auto;
          max-width: 100%;
          overflow: visible;
        }
      }

      ul {
        display: none;

        @media (min-width: $screen-sm-min) {
          bottom: 0;
          display: block;
          margin: 0 auto;
          min-height: 70px;
          padding: 0;
          position: absolute;
          text-align: center;
          width: 100%;
        }

        li {
          display: inline-block;
          height: 70px;
          line-height: 70px;
          list-style: none;
          margin: 0;
          padding: 0;
          text-transform: uppercase;
          vertical-align: bottom;

          a {
            color: $blue-dark;
            display: block;
            font-family: $headings-font-family;
            font-weight: bold;
            height: 100%;
            padding: 0 15px;

            &:hover {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }

    .speakers {
      padding: 30px 0;

      @media (max-width: $screen-sm-min) {
        padding: 10px 0;
      }

      ul {
        margin: 90px auto;
        max-width: 1200px;
        padding: 0;
        text-align: center;

        @media (max-width: $screen-sm-min) {
          margin: 30px auto;
        }

        li {
          display: inline-block;
          list-style: none;
          padding: 0 0 30px;
          vertical-align: top;
          width: 282px;

          .img {
            @include background-size-cover();
            @include cross-browser(clip-path, url('../images/home/mask.svg#hexagonPath'));
            @include cross-browser(mask, url('../images/home/mask.svg'));
            display: block;
            height: 230px;
            margin: 0 auto;
            width: 230px;

            @media (max-width: $screen-sm-min) {
              height: 150px;
              width: 150px;
            }

            &.empty {
              background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
              background-size: 70% auto;
            }
          }

          .name {
            color: $blue;
            display: block;
            font-family: $headings-font-family;
            font-size: $font-size-large;
            font-weight: bold;
            margin: 10px 0 0;
            text-decoration: none;
            text-transform: uppercase;
          }

          .company {
            font-size: 75%;
            font-weight: bold;
            margin: 0 16px 2px;
            text-transform: uppercase;
          }

          .bio {
            color: $gray;
            font-size: $font-size-small;
            line-height: 1.4em;
            margin: 2px 16px 0;

            strong {
              color: $blue;
              font-weight: normal;
            }
          }

          .twitter {
            background: url('/images/base/twitter.svg') no-repeat;
            background-size: cover;
            display: block;
            font-size: 4em;
            height: 30px;
            margin: 0 auto;
            width: 30px;
          }

          .talk:before {
            content: 'TALK';
            font-size: 50%;
            font-weight: bold;
            margin: 0;
          }

          .workshop:before {
            content: 'WORKSHOP';
            font-size: 50%;
            font-weight: bold;
            margin: 0;
          }

          .talk,
          .workshop {
            margin: 0 16px;

            .title {
              display: block;
              font-style: italic;
            }
          }

          a {
            color: $blue-light;

            &:hover {
              color: lighten($blue-light, 10%);
            }
          }
        }
      }
    }

    .tickets-sale,
    .call-for-proposal {
      background: $blue-dark;
      color: $white;
      padding: 80px;
      width: 100%;

      @media (max-width: $screen-sm-min) {
        padding: 40px;
      }

      .slack {
        margin: 20px 0 0;
        text-align: center;

        a {
          background-color: $red-dark;
          color: $white;
          display: inline-block;
          font-size: 120%;
          font-weight: bold;
          padding: 6px 12px;
        }

      }

      .buy-tickets {
        display: none;
        text-align: center;

        a,
        .sold-out {
          @include badge-zoom('/images/home/tickets.svg');
        }

        .sold-out {
          background: url('/images/home/tickets-sold.svg') no-repeat;
          background-position: center;
        }
      }

      .call-proposal {
        text-align: center;

        a {
          @include badge-zoom('/images/home/cft.svg');
        }
      }

      .countdown {
        .countdown-title {
          color: $white;
        }

        .countdown-clock {
          display: block;
          font-size: 3em;
          margin: auto;
          text-align: center;

          @media (max-width: $screen-sm-min) {
            font-size: 2em;
          }

          .days {
            font-size: .5em;
          }
        }
      }

      .twitter {
        margin: 10px 0;
        text-align: center;

        a {
          background: url('/images/base/twitter.svg') no-repeat;
          background-size: cover;
          display: block;
          font-size: 4em;
          height: 90px;
          margin: 0 auto;
          width: 90px;
        }
      }
    }

    .sponsors {
      padding: 30px 0;

      ul {
        margin: 10px auto;
        max-width: 1200px;
        padding: 0;
        text-align: center;

        ul {
          margin: 10px auto;
          max-width: 1200px;
          padding: 0;
          text-align: center;

          li {
            display: inline-block;
            list-style: none;
            padding: 24px;
            vertical-align: top;

            .img {
              @include background-size-cover();
              display: block;
              margin: 0 auto;
              text-decoration: none;
            }
          }
        }
      }
    }

    .organizers {
      h1 {
        background: transparent url('../images/base/george.svg') no-repeat 50% 0;
        background-size: 230px auto;
        padding-top: 250px;

        @media (max-width: $screen-sm-min) {
          background-size: 130px auto;
          padding-top: 150px;
        }
      }
    }

    .organizers,
    .volunteers {
      background-color: $blue-dark;
      padding: 30px 0;

      @media (max-width: $screen-sm-min) {
        padding: 10px auto;
      }

      h1 {
        color: $white;
      }

      ul {
        display: block;
        margin: 90px auto;
        max-width: 1200px;
        padding: 0;
        text-align: center;

        @media (max-width: $screen-sm-min) {
          margin: 30px auto;
        }

        li {
          display: inline-block;
          list-style: none;
          padding: 10px 0 40px;
          vertical-align: top;
          width: 282px;

          .img {
            @include background-size-cover();
            @include cross-browser(clip-path, url('../images/home/mask.svg'));
            @include cross-browser(mask, url('../images/home/mask.svg'));
            display: block;
            height: 230px;
            margin: 0 auto;
            width: 230px;

            @media (max-width: $screen-sm-min) {
              height: 150px;
              width: 150px;
            }

            &.empty {
              background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
              background-size: 70% auto;
            }
          }

          .name {
            color: $white;
            display: block;
            font-family: $headings-font-family;
            font-size: $font-size-large;
            margin: 10px 0 0;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
