.hotels {

  .label.label-primary {
    background: $red;
  }

  .book-hotel-btn {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;

    border-radius: 4px;

    &:hover {
      background: $blue;
      color: $white;
    }
  }

  .lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .hotel-description {
    font-size: 0.8em;
  }

  .row.featurette {
    padding: 60px 0;
  }
  .img {
    margin: 0 auto;
    display: block;
    /* max-height: 100%; */
    -webkit-mask: url(../images/home/mask-2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-mask-size: cover;
    -webkit-mask-position: center center;
    padding: 31%;
  }

}
