.hotels {

  .label.label-primary {
    background: $red;
  }

  .book-hotel-btn {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;

    border-radius: 4px;

    &:hover {
      background: $blue;
      color: $white;
    }
  }

  .lead {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .hotel-description {
    font-size: .8em;
  }

  .row.featurette {
    padding: 60px 0;
  }

  .img {
    @include cross-browser(background-size, cover);
    @include cross-browser(mask, url('../images/home/mask-2.svg'));
    @include cross-browser(mask-position, 'center center');
    @include cross-browser(mask-size, cover);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 31%;
  }

}
