body {
  padding-top: $navbar-height * 2;

  > header {
    @include cross-browser(box-shadow, '0 .063em .25em rgba(37, 50, 55, .25)');
    height: $navbar-height;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  > footer {
    background-color: $red;
    margin: 80px 0 0;
    min-height: 100%;

    .footer {
      @include clearfix();
      display: block;
      position: relative;

      .map,
      .venue-info {
        display: block;
        height: 100%;
        margin: 0;
        width: 100%;
        @media (min-width: $screen-sm-min) {
          width: 50%;
        }

        h1 {
          font-size: 3em;
        }
      }

      .map {
        @include background-size-cover();
        background-color: $blue-light;
        display: none;

        @media (min-width: $screen-sm-min) {
          bottom: 0;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }

        #map {
          display: block;
          min-height: 100%;
          width: 100%;
        }
      }

      .venue-info {
        padding: 0 15px;

        .venue {
          display: block;
          margin: 50px auto;

          h1,
          h2 {
            color: $white;
          }

          h1 {
            background: transparent url('../images/base/ok.svg') no-repeat 50% 0;
            background-size: 230px auto;
            padding-top: 250px;
          }
        }

        .info {
          color: $blue-dark;
          display: block;
          margin: 50px auto;
          max-width: 450px;
          padding: 30px 0;

          a {
            color: $white;
          }

          h3 {
            color: $white;
            display: block;
            margin: 30px auto;
            text-align: center;
          }

          .data {
            display: block;

            .group {
              margin-bottom: 45px;
              position: relative;

              label {
                @include cross-browser(transition, '2.s ease all');
                color: $white;
                font-size: 18px;
                font-weight: normal;
                left: 5px;
                pointer-events: none;
                position: absolute;
                text-transform: uppercase;
                top: 10px;
                transition: .2s ease all;
              }

              input:focus ~ label,
              input:valid ~ label {
                color: $white;
                font-size: 14px;
                top: -20px;
              }

              input {
                background: none;
                border: 0;
                border-bottom: 1px solid $white;
                color: $white;
                display: block;
                font-size: 18px;
                padding: 10px 10px 10px 5px;
                width: 100%;

                &:focus {
                  outline: none;
                }
              }
            }

            button {
              @include cross-browser(appearance, none);
              @include cross-browser(border-radius, 0 3px 3px 0);
              @include cross-browser(transition, all 100ms);

              background-color: $blue;
              border: 0;
              color: $white;
              display: inline-block;
              height: 70px;
              vertical-align: top;
              width: 110px;

              &:focus {
                outline: none;
              }

              &:hover {
                background-color: lighten($blue, 5%);
              }
            }
          }

          .social {
            display: block;
            margin: 20px 0 0;
            text-align: center;
            text-transform: uppercase;

            a {
              font-size: 30px;

              img {
                width: 70px;
              }
            }
          }
        }
      }
    }

    .copy {
      background-color: $red;
      display: block;
      text-align: center;
      width: 100%;

      .box {
        margin: 0 auto;
        padding: 10px 0 20px;
        text-align: center;
        width: 80%;
        @media (min-width: $screen-sm-min) {
          padding: 0;
        }

        a {
          color: $white;
          display: block;
          font-weight: bold;
          margin: 0;
          text-transform: uppercase;
          vertical-align: bottom;
          @media (min-width: $screen-sm-min) {
            display: inline-block;
            line-height: 70px;
          }
          @media (min-width: $screen-sm-min) {

            &:after {
              content: '-';
              margin: 0 15px;
            }
          }

          &:hover {
            color: $white;
            text-decoration: none;
          }

          &:last-of-type {

            &:after {
              content: '';
            }
          }
        }
      }
    }

    a {
      color: $blue-light;
      margin: 0 5px;

      &:hover {
        color: lighten($blue-light, 10%);
      }
    }
  }
}

// Begin Base

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  margin: 30px auto;
  text-align: center;
}

h2 {
  font-size: 2.500em;
  margin: 10px auto;
  text-align: center;
}

.lowercase {
  font-size: .8em;
  text-transform: lowercase;
}

// End Base

// Begin Header

.navbar {
  border: 0;

  .navbar-nav {
    padding-top: $navbar-height;

    > .nav-logo {
      left: calc(50% - 70px);
      position: absolute;
      top: 0;
    }
  }

  .navbar-brand {
    padding: 0;

    img {
      display: none;
      width: $navbar-height;
    }
  }

  .navbar-nav {

    > li > a {
      color: $blue-dark;
      font-family: $headings-font-family;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $white;
        color: $blue;
      }
    }

    > .nav-logo > a > img {
      width: ($navbar-height * 2);
    }
  }
}

@media (min-width: 768px) {

  .navbar .navbar-nav > li > a {
    line-height: $navbar-height;
    padding: 0 15px;
    vertical-align: middle;
  }
}

@media (max-width: 767px) {

  body {
    padding-top: $navbar-height;
  }

  .navbar .navbar-brand img {
    @include calc(left, "50% - #{$navbar-height}");
    display: block;
    height: $navbar-height;
    position: absolute;
    top: 0;
    width: ($navbar-height * 2);
  }

  .navbar .navbar-nav > .nav-logo {
    display: none;
  }

  .navbar .navbar-nav {
    padding-top: 0;
  }
}

.navbar-toggle {
  border: 0;
  border-radius: 0;

  .icon-bar {
    background-color: $blue-dark;
  }
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: $blue-light;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: $white;
}

@media (min-width: 768px) {

  .navbar-nav {
    text-align: center;
    width: 100%;

    > li {
      display: inline-block;
      float: none;
    }
  }

  .navbar-collapse.collapse {
    margin-left: $navbar-height;
    margin-right: $navbar-height;
  }
}

// End Header

.page-title {
  //background-image: url('/images/base/pattern.png');
  background-color: $blue;
  color: $white;
  margin-bottom: 30px;
  padding: 5%;
  text-align: center;
  width: 100%;

  h1,
  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    max-width: 70%;
  }
}

.borderd-form {
  position: relative;
  z-index: 2;
  background: url('/images/base/form-top.svg') top left no-repeat,
  url('/images/base/form-bottom.svg') bottom left no-repeat;
  background-size: 100% 100px;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 99px;
    right: 0;
    bottom: 99px;
    left: 0;
    background: url('/images/base/form-mid.svg') top left repeat-y;
  }
}

.upper-form {
  label {
    text-transform: uppercase;
  }
}



// Tickets
#buy {

  .intro {

    button {
      position: absolute;
      right: 30px;
      top: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 400px;
      width: 60%;
    }
  }

  .indicators {
    @include clearfix();
    margin: 0;
    padding: 0;

    .indicator {
      float: left;
      font-size: 30px;
      padding: 20px 0;
      text-align: center;
      width: 33.3333%;

      i {
        color: $gray-light;
        vertical-align: middle;
      }

      span {
        color: $gray-light;
        display: block;
        font-size: 14px;
        margin: 10px 0 0;
        text-align: center;
      }

      &.active {

        span {
          color: $gray;
        }

        i {
          color: $blue;
        }
      }
    }
  }

  .steps {

    .step {
      margin: 20px 0 0;

      .note {
        @include clearfix();
        border-top: 1px solid $gray-light;
        color: $gray;
        font-size: 80%;
        margin: 10px 0 0;
        padding: 10px 0 0;
      }

      &.step-select {

        .loading {
          height: 150px;
          position: relative;
        }

        .description {

          > span {
            color: $blue;
            display: block;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
          }

          ul {
            @include clearfix();
            margin: 10px 20px 30px;
            padding: 0;

            li {
              float: left;
              font-size: 80%;
              list-style: none;
              padding: 10px;
              width: 50%;
            }
          }
        }

        .discount {
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 20px;
          text-align: center;
          text-transform: uppercase;

          .code {
            background-color: $white;
            border: 2px solid $blue;
            color: $blue;
            display: inline-block;
            padding: 4px 8px;

            &.error {
              background-color: $brand-danger;
              border: 2px solid $brand-danger;
              color: $white;
            }
          }
        }

        .tickets {

          ul {
            margin: 0 0 40px;
            padding: 0;

            li {
              @include clearfix();
              display: block;
              margin: 0 0 20px;
              padding: 0;

              .name {
                color: $blue;
                float: left;
                font-weight: bold;
                text-align: left;
                text-transform: uppercase;
                width: 50%;
              }

              .buy {
                float: left;
                text-align: right;
                width: 50%;

                input {
                  border: 2px solid $gray;
                  border-right-color: $blue;
                  margin: 0 0 0 4px;
                  padding: 2px;
                  text-align: center;
                  width: 3em;

                  &:focus {
                    outline: 2px solid $blue;
                  }
                }

                button {
                  background-color: $blue;
                  border: 0;
                  color: $white;
                  padding: 4px 14px;
                  width: 100px;

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }

        .soldout {
          border: 3px solid $blue;
          color: $blue;
          font-size: 20px;
          font-weight: bold;
          margin: 40px auto;
          padding: 10px 20px;
          text-align: center;
          text-transform: uppercase;
          width: 270px;
        }
      }

      &.step-payment {

        .loading {
          height: 150px;
          position: relative;
        }

        .important {
          color: $blue;
          font-size: 80%;
          padding: 0 10%;
          text-align: center;
        }

        .invoice {
          @include clearfix();
          display: block;
          margin: 0 0 20px;
          padding: 0;

          .detail {
            color: $blue;
            float: left;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            width: 60%;
          }

          .pay {
            float: left;
            text-align: right;
            width: 40%;

            button {
              background-color: $blue;
              border: 0;
              color: $white;
              padding: 4px 14px;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      &.step-assign {

        .thanks {
          color: $blue;
          font-size: 20px;
          font-weight: bold;
          margin: 20px auto 0;
          padding: 10px 20px;
          text-align: center;
          text-transform: uppercase;
        }

        .save {
          margin: 10px auto 20px;
          text-align: center;

          button {
            background-color: $blue;
            border: 0;
            color: $white;
            padding: 4px 14px;

            &:focus {
              outline: none;
            }
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            margin: 0 0 20px;
            padding: 0;

            .title {
              color: $blue;
              font-size: 18px;
              font-weight: bold;
              margin: 0 auto 10px;
              padding: 10px;
              text-align: center;
              text-transform: uppercase;
              width: 200px;
            }

            .personal {
              @include clearfix();
              padding: 0 0 10px;

              .name {
                float: left;
                padding: 0 10px 0 0;
                width: 40%;

                input {
                  border: 1px solid $gray;
                  display: block;
                  padding: 4px 8px;
                  width: 100%;

                  &:focus {
                    outline: 2px solid $blue;
                  }
                }
              }

              .email {
                float: left;
                padding: 0 10px 0 0;
                width: 40%;

                input {
                  border: 1px solid $gray;
                  display: block;
                  padding: 4px 8px;
                  width: 100%;

                  &:focus {
                    outline: 2px solid $blue;
                  }
                }
              }

              .tshirt {
                float: left;
                width: 20%;

                select {
                  background: $white;
                  border: 1px solid $gray;
                  border-radius: none;
                  display: block;
                  height: 38px;
                  padding: 4px 8px;
                  width: 100%;

                  &:focus {
                    outline: 2px solid $blue;
                  }
                }
              }
            }

            .extra {
              @include clearfix();
              width: 100%;

              textarea {
                border: 1px solid $gray;
                height: 80px;
                max-width: 100%;
                padding: 4px 8px;
                width: 100%;

                &:focus {
                  outline: 2px solid $blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Loader

.loader:before,
.loader:after,
.loader {
  @include cross-browser(animation, 'load7 1.8s infinite ease-in-out');
  @include cross-browser(animation-fill-mode, both);
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.loader {
  @include cross-browser(animation-delay, .16s);
  font-size: 10px;
  margin: 8em auto;
  position: relative;
  text-indent: -9999em;
}

.loader:before {
  left: -3.5em;
}

.loader:after {
  @include cross-browser(animation-delay, .32s);
  left: 3.5em;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $blue;
  }

  40% {
    box-shadow: 0 2.5em 0 0 $blue;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $blue;
  }

  40% {
    box-shadow: 0 2.5em 0 0 $blue;
  }
}
