@mixin cross-browser($property, $css) {
  -webkit-#{$property}: $css;
  -moz-#{$property}: $css;
  -o-#{$property}: $css;
  #{$property}: $css;
}

@mixin calc($property, $expression) {
  @include cross-browser(#{$property}, calc(#{$expression}));
}

@mixin background-size-cover() {
  @include cross-browser(background-size, cover);
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin badge-zoom($badge-image) {
  @include cross-browser(transition, transform 200ms);
  display: block;
  background: url($badge-image) no-repeat;
  background-position: center;
  height: 300px;
  margin: auto;
  width: 100%;

  &:hover {
    @include cross-browser(transform, scale(1.05));
  }
}
