.schedule {

  .coming {
    background-color: $gray-light;
    border-radius: 4px;
    color: $blue;
    padding: 50px 0;
    text-align: center;
  }

  table {
    margin: 30px auto;
    width: 100%;

    tr {
      margin: 5px 0;

      &:first-of-type {
        font-size: .8em;
        height: 60px;
      }

      td,
      th {
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        vertical-align: top;
      }

      th {

        &.track {
          width: 50%;
        }
      }

      td {
        color: $blue-dark;

        &.time {
          color: $gray;
          padding: 15px;
        }

        &.slot {

          .box {
            background: rgba(85, 150, 192, .20);
            border-radius: 5px;
            display: block;
            height: 100%;
            padding: 10px;
            width: 100%;

            .title {
              color: $blue-dark;
              text-transform: uppercase;

              &.has-description {
                cursor: pointer;

                &:hover {

                  &:after {
                    @include cross-browser(transform, rotate(360deg));
                  }
                }

                &:after {
                  @include cross-browser(transition, all 100ms);
                  color: $red;
                  content: '+';
                  cursor: pointer;
                  display: inline-block;
                  font-weight: 700;
                  margin-left: 4px;
                }
              }
            }

            .description {
              @include cross-browser(transition, all east-out 100ms);
              color: $gray-dark;
              display: block;
              font-size: .75em;
              height: 0;
              margin: 0;
              opacity: 0;
              overflow: hidden;
              padding: 0 15px;
              text-align: left;

              &.active {
                height: auto;
                margin-top: 15px;
                opacity: 1;
              }
            }
          }
        }

        &.slot-break,
        &.slot-lunch {

          .box {
            background: rgba(85, 150, 192, .40);
          }
        }

        &.slot-talk,
        &.slot-workshop,
        &.slot-keynote,
        &.slot-empty {

          .box {
            background: transparent;
          }
        }

        &.slot-talk,
        &.slot-workshop,
        &.slot-keynote, {
          position: relative;

          .box {
            position: relative;
            z-index: 1;

            .speakers {
              margin-top: 15px;

              .speaker {

                .name {
                  color: $blue-dark;
                  font-size: 80%;
                  font-weight: 700;
                  text-transform: uppercase;
                }

                .picture {
                  @include background-size-cover();
                  @include cross-browser(clip-path, url('../images/schedule/mask-small.svg#hexagonPath'));
                  @include cross-browser(mask, url('../images/schedule/mask-small.svg'));
                  display: block;
                  height: 40px;
                  margin: 0 auto;
                  width: 40px;

                  &.empty {
                    background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
                    background-size: 70% auto;
                  }
                }
              }
            }
          }

          &:before {
            @include calc(width, '100% - 10px');
            @include calc(height, '100% - 10px');
            border: 1px solid $gray-light;
            border-radius: 5px;
            content: '';
            display: block;
            left: 5px;
            position: absolute;
            top: 5px;
            z-index: 0;
          }
        }

        &.slot-keynote {

          .box {
            background-position: 50% 50%;
            background-size: cover;
            border: 0;
            color: $white;
            font-weight: 700;

            .title {
              text-transform: uppercase;
            }

            .title,
            .description,
            .speakers .speaker .name {
              color: $white;
              text-shadow: 1px 1px 1px rgba(20, 20, 20, .5);
            }
          }
        }
      }
    }
  }
}
