@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  src: local("Rambla-Bold"), url("../fonts/Rambla-Bold.woff") format("woff"), url("../fonts/Rambla-Bold.eot") format("embedded-opentype"), url("../fonts/Rambla-Bold.ttf") format("truetype"), url("../fonts/Rambla-Bold.svg") format("svg");
  font-weight: bold; }

@font-face {
  font-family: 'Rambla';
  font-style: normal;
  src: local("Rambla-Regular"), local("Rambla"), url("../fonts/Rambla-Regular.woff") format("woff"), url("../fonts/Rambla-Regular.eot") format("embedded-opentype"), url("../fonts/Rambla-Regular.ttf") format("truetype"), url("../fonts/Rambla-Regular.svg") format("svg");
  font-weight: normal; }

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  width: 100%; }
  html .error-404,
  html .error-500,
  body .error-404,
  body .error-500 {
    display: block;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    width: 100%; }
    html .error-404 .message,
    html .error-500 .message,
    body .error-404 .message,
    body .error-500 .message {
      color: #fff;
      font-size: 250%;
      font-weight: bold;
      line-height: 0;
      position: absolute;
      text-align: center;
      text-shadow: 4px 4px 0 #1a1a1a;
      top: 50%;
      width: 100%; }
  html .error-404,
  body .error-404 {
    background-color: #99352e; }
  html .error-500,
  body .error-500 {
    background-color: #99352e; }
